html
    include includes/head.pug
    body
        div(class='header-container')
            h1(class='header-text') Hi, #{user}, welcome to Spelling Bee Admin

    div(class="form-wrapper")
        form(id="board-generate-form", class="form-inline generate-form", action="/game")
            button(type="submit", class="btn btn-primary mb-2") Generate board
    
    div(class="d-flex justify-content-center")
        div(class="spinner-border create-spinner hide", role="status")
            span(class="sr-only") Loading...

    block content